<h2>
    Dasar dasar Frontend
</h2>
<p class="mat-caption">Perkuat dahulu pondasi, baru bangun rumah diatasnya</p>
<div class="post-card-container">
    <mat-card class="post-card">
        <mat-card-title-group>
            <mat-card-title>Tutorial Dasar Dart</mat-card-title>
            <mat-card-subtitle  color="primary">Dasar dasar bahasa pemrograman dart untuk modal belajar flutter</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/dart-icon.png" >
        </mat-card-title-group>
    </mat-card>

    <mat-card class="post-card">
        <mat-card-title-group>
            <mat-card-title>Tutorial Dasar Typescript</mat-card-title>
            <mat-card-subtitle>Sebuah superset dari Javascript untuk modal belajar React, Angular, dan berbagai Javascript Framework lainnya</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/typescript-icon.png" >
        </mat-card-title-group>
    </mat-card>

    <mat-card class="post-card">
        <mat-card-title-group>
            <mat-card-title>Tutorial Dasar HTML</mat-card-title>
            <mat-card-subtitle>Dasar dasar bahasa html untuk modal belajar Web Desain</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/html-icon.png" >
        </mat-card-title-group>
    </mat-card>

    <mat-card class="post-card">
        <mat-card-title-group>
            <mat-card-title>Tutorial Dasar CSS</mat-card-title>
            <mat-card-subtitle>Dasar dasar bahasa css untuk modal belajar Web Desain</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/css-icon.png" >
        </mat-card-title-group>
    </mat-card>
</div>

<h2>
    Framework dan Library
</h2>

<div class="post-card-container">
    <mat-card class="post-card">
        <mat-card-title-group>
            <mat-card-title>Tutorial Angular</mat-card-title>
            <mat-card-subtitle>Frontend framework menggunakan bahasa HTML dan Typescript</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/dart-icon.png" >
        </mat-card-title-group>
    </mat-card>

    <mat-card class="post-card">
        <mat-card-title-group>
            <mat-card-title>Tutorial React</mat-card-title>
            <mat-card-subtitle>Javascript Library untuk membuat antarmuka aplikasi menjadi lebih menarik</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/react-icon.png" >
        </mat-card-title-group>
    </mat-card>

    <mat-card class="post-card">
        <mat-card-title-group>
            <mat-card-title>Tutorial Flutter</mat-card-title>
            <mat-card-subtitle>Membuat aplikasi multiplatform</mat-card-subtitle>
            <img mat-card-sm-image src="assets/images/flutter-icon.png" >
        </mat-card-title-group>
    </mat-card>
</div>